@font-face {
font-family: 'Helvetica Neue Cyr Roman';
src: url('HelveticaNeueCyr-Roman.eot');
src: url('HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
url('HelveticaNeueCyr-Roman.woff') format('woff'),
url('HelveticaNeueCyr-Roman.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Helvetica Neue Cyr Bold';
src: url('HelveticaNeueCyr-Bold.eot');
src: url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
url('HelveticaNeueCyr-Bold.woff') format('woff'),
url('HelveticaNeueCyr-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

        
.logo {font-family: 'Fira Sans'; font-weight: 900; font-size: 40px; text-transform: uppercase; margin: 0.5rem; cursor: default; float: left;}
#mainNav {
    font-family: 'Helvetica Neue Cyr Roman';
        }
        
.TopBar {
    height: 5rem;
    padding: .7rem 1.5rem;
    line-height: 2.5rem;
    border-color: #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    right: 0;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
    display: block;
        }
.sidebar-mask {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
        }
.sidebar {
    top: 5rem;
    border-color: #e5e5e5;
    font-size: 16px;
    background-color: #fff;
    width: 20rem;
    position: fixed;
    z-index: 10;
    margin: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #eaecef;
    overflow-y: auto;
        }
.page {
    padding-left: 20rem;
    padding-bottom: 2rem;
    display: block;
      }
.content {
    padding-top: 10rem;
    padding-bottom: 6.25rem;
    max-width: 740px;
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: block;
        }
        .content p {font-size: 20px; line-height: 130%; margin: 2em 0 0 0;}
        p.HelBold {font-family: Helvetica Neue Cyr Bold;}
        .content a {font-size: 12px; text-decoration: none;}
        .content a:link, .content a:visited {color: #927b3d;}
        .content a:hover, .content a:active {color: #927b3d;}
.navbar-nav {
    padding: 2rem 0 2rem 2rem;
    line-height: 1.5625;
    margin: 0;
    list-style-type: none;
        }
.nav-item {
    list-style-type: none;
        }
.nav-item ul {
    padding-inline-start: 20px;
        }
        
        
.navbar-nav a {text-decoration: none;}
.navbar-nav a:link, .navbar-nav a:visited {color: black;}
.navbar-nav a:hover, .navbar-nav a:active {color: #99844a;}
.navbar-nav a.active {color: #927b3d;}
        
        .send-f {
            display: block;
            background: #99844a;
            float: right;
            color: #FFF;
            padding: 3px 15px;
            text-decoration: none;
            text-shadow: 1px 1px 0 rgba(0,0,0, 0.5);
            cursor: pointer;
            border-radius: 4px;
            -moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border: 0px solid #000000;
        }
        .send-f:visited, .send-f:link {opacity: 1;}
        .send-f:hover, .send-f:active {opacity: 0.9;}
        .send-x {
            display: block;
            float: right;
            padding: 3px 15px;
            text-decoration: underline;
            cursor: pointer;

        }
        .send-x:visited, .send-x:link {color: black;}
        .send-x:hover, .send-x:active {color: #927b3d;}

h3 {margin-top: 3em; font-size: 34px;}




/* MODALS */

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0,0,0, .7);
  transition: opacity .25s ease;
z-index: 99;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top .25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  margin: auto;
  overflow: auto;
  background: #FFF;
  border-radius: 5px;
  padding: 1em 2em;
  height: 80%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
	
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}



/* FEEDBACK */
#frmContact {border-top:#F0F0F0 2px solid;background:#FAF8F8;padding:10px;}
#frmContact div{margin-bottom: 15px}
#frmContact div label{margin-left: 5px}
.demoInputBox{padding:10px; border:#F0F0F0 1px solid; border-radius:4px;}
.error{background-color: #FF6600;border:#AA4502 1px solid;padding: 5px 10px;color: #FFFFFF;border-radius:4px;}
.success{background-color: #12CC1A;border:#0FA015 1px solid;padding: 5px 10px;color: #FFFFFF;border-radius:4px;}
.info{font-size:.8em;color: #FF6600;letter-spacing:2px;padding-left:5px;}
.btnAction{background-color:#2FC332;border:0;padding:10px 40px;color:#FFF;border:#F0F0F0 1px solid; border-radius:4px;}